In [290]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\99906068\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [291]:
import pandas as pd
import  matplotlib.pyplot as plt

In [292]:
Content = pd.read_csv("C:/Users/99906068/OneDrive - L&T Construction/Desktop/Accenture/Content.csv")
Content

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [293]:
Content.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [294]:
Content = Content.drop(['User ID', 'URL'], axis=1)

In [295]:
Content = Content.dropna

In [296]:
Content_result = Content()

In [297]:
print(type(Content_result))

<class 'pandas.core.frame.DataFrame'>

In [298]:
Content_result['Category'] = Content_result['Category'].str.replace('"', '')

In [299]:
Content_result

     Unnamed: 0                            Content ID   Type         Category
0             0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1             1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2             2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3             3  356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4             4  01ab84dd-6364-4236-abbb-3f237db77180  video             food
..          ...                                   ...    ...              ...
995         995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996         996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997         997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998         998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999         999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 4 columns]

In [315]:
Content_result = Content_result.rename(columns={'Type':'Content Type'})

In [316]:
Content_result

,Unnamed: 0,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology

In [317]:
Content_result

,Unnamed: 0,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology

In [319]:
Content_result.columns

Index(['Unnamed: 0', 'Content ID', 'Content Type', 'Category'], dtype='object')

In [321]:
Content_result = Content_result.drop(columns=['Unnamed: 0'])

In [323]:
Content_result

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [300]:
Reactions = pd.read_csv("C:/Users/99906068/OneDrive - L&T Construction/Desktop/Accenture/Reactions.csv")
Reactions

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [301]:
Reactions = Reactions.drop(['User ID'], axis=1)

In [302]:
print(type(Reactions))

<class 'pandas.core.frame.DataFrame'>

In [304]:
Reactions =  Reactions.dropna(subset=['Type'])

In [305]:
Reactions.columns

Index(['Unnamed: 0', 'Content ID', 'Type', 'Datetime'], dtype='object')

In [311]:
Reactions = Reactions.rename(columns={'Type':'Reaction Type'})

In [324]:
Reactions=Reactions.drop(columns=['Unnamed: 0'])

In [325]:
Reactions

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [310]:
ReactionTypes = pd.read_csv("C:/Users/99906068/OneDrive - L&T Construction/Desktop/Accenture/ReactionTypes.csv")
ReactionTypes = ReactionTypes.rename(columns={'Type': 'Reaction Type'})
ReactionTypes

    Unnamed: 0 Reaction Type Sentiment  Score
0            0         heart  positive     60
1            1          want  positive     70
2            2       disgust  negative      0
3            3          hate  negative      5
4            4    interested  positive     30
5            5   indifferent   neutral     20
6            6          love  positive     65
7            7    super love  positive     75
8            8       cherish  positive     70
9            9         adore  positive     72
10          10          like  positive     50
11          11       dislike  negative     10
12          12     intrigued  positive     45
13          13       peeking   neutral     35
14          14        scared  negative     15
15          15       worried  negative     12

In [326]:
ReactionTypes=ReactionTypes.drop(columns=['Unnamed: 0'])

In [327]:
ReactionTypes

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [328]:
merged = pd.merge(Reactions,Content_result,on='Content ID')
merged

,Content ID,Reaction Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,Studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,technology

In [329]:
final = pd.merge(merged,ReactionTypes,on='Reaction Type')
final.head(5)

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,healthy eating,negative,0

In [330]:
category_scores = final.groupby('Category')['Score'].sum().reset_index()
category_scores  # Calculate total scores for each category

           Category  Score
0           Animals   3723
1           Culture   1627
2         Education   1395
3           Fitness   5488
4              Food   3504
5    Healthy Eating    272
6   Public Speaking   1336
7           Science   4619
8            Soccer   2631
9          Studying   1341
10       Technology    217
11           Travel   1092
12         Veganism    644
13          animals  71242
14          cooking  64756
15          culture  64952
16             dogs  52511
17        education  56041
18          fitness  49835
19             food  63172
20   healthy eating  69067
21  public speaking  47928
22          science  66549
23           soccer  55152
24         studying  52928
25       technology  68521
26           tennis  50339
27           travel  63788
28         veganism  48975

In [331]:
top_5_categories = category_scores.sort_values(by='Score', ascending=False).head(5)
print(top_5_categories) # Sort categories by total score in descending order and get top 5

          Category  Score
13         animals  71242
20  healthy eating  69067
25      technology  68521
22         science  66549
15         culture  64952